#CybotCookiebotDialog {
    box-shadow: none !important;
    border-top: 1px solid $black !important;
    background: $white !important;
    #CybotCookiebotDialogPoweredbyImage {
        display: none !important;
    }
    #CybotCookiebotDialogBodyButtonAccept {
        border: 0 !important;
        background: $black !important;
    }
}