//variables
$black:							#322f31;
$grey:							#979797;
$grey-light:                    #d8d8d8;
$white-broken:					#fff;
$white:                  rgba(226, 224, 219,0.9);

$mobile:                        767px;
$tablet:                        991px;
$desktop:                       1440px;
$desktop-large:                 2200px;

//imports
@import 'reset';

//font faces
@font-face {
	font-family: "NHaasGroteskTX";
	font-weight: normal;
	src: url("fonts/nhaasgrotesktx_regular.ttf") format("truetype");
}

//keyframes
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

//components
.border-top { border-top: 1px solid $grey; }
.border-bottom { border-bottom: 1px solid $grey; }
.container {
    max-width: 90%;
    margin: 0 auto;
}
.btn {
    background: $black;
    color: $white-broken;
    &:hover {
        color: $black;
    }
}
.grid {
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    p {
        position: absolute;
        width: 200%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        -moz-transform: translateX(200%);
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
        -moz-animation: scroll-left 0s linear infinite;
        -webkit-animation: scroll-left 0s linear infinite;
        animation: scroll-left 35s linear infinite;
    }
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        background: $white;
    }
}
img {
    max-width: 100%;
    height: auto;
    &.grayscale-filter {
        @media screen and (min-width: $desktop) {
            filter: gray;
            -webkit-filter: grayscale(1);
            &:hover {
                filter: none;
                    -webkit-filter: grayscale(0);
            }
        }
    }
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
p { margin-bottom: 1.6rem; line-height: 1.25; }
li { line-height: 1.25; }

//state 
.desktop-only {
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
    }
}

//style
// * { transition: all .3s ease; }
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-moz-selection { background: $white; }
::selection { background: $white; }
html{ scroll-behavior: smooth; background: $white; }
body {
	font-size: 18px;
    font-family: "NHaasGroteskTX";
    color: $black;
    background: $white-broken;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0 1.2rem 0; 
    img {
        max-height: 2rem;
    }
    nav {
        @media screen and (max-width: $tablet) {
            display: none;
        }
        ul {
            li {
                display: inline;
                padding: .1rem .3rem;
                margin-left: 2rem;
                &:hover {
                    text-decoration: underline;
                    background: $white;
                }
            }
        }
    }
}
main {
    section {
        padding-bottom: 6rem;
        h2 {
            font-size: 2rem;
            margin-top: .4rem;
            margin-bottom: 2rem;
        }
    }
    section#hero {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8rem 0;
        padding-top: 2.9rem;
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
            padding: 2rem 0;
        }
        h1 {
            font-size: 9.7rem;
            line-height: 10.3rem;
            flex-grow: 2;
            @media screen and (max-width: $tablet) {
                font-size: 5rem;
                line-height: 110%;
            }
        }
        .flex-wrapper {
            flex-grow: 1;
            width: auto;
            @media screen and (max-width: $tablet) {
                margin-top: 3rem;
            }
        }
    }
    section#services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1.8rem;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
        .description {
            margin-top: 2rem;
        }
        .list { margin-top: 4rem; }
    }
    section#process {
        .marquee {
            font-style: italic;
        }
        #process-slider {
            width: 100%;
            height: auto;
            margin-top: 6rem;
            padding: 1rem 0;
            .slider-content-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 6rem 0 0 0;
                @media screen and (max-width: $tablet) {
                    flex-direction: column;
                }
                .slider-title {
                    font-size: 9rem;
                    @media screen and (max-width: $tablet) {
                        font-size: 5rem;
                        margin-bottom: 2rem;
                    }
                }
                .slider-content {
                    max-width: 46%;
                    @media screen and (max-width: $tablet) {
                        max-width: 100%;
                    }
                }
            }
            .swiper-pagination {
                position: relative;
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: space-between;
                &:before {
                    content: '';
                    width: 98%;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    left: 1%;
                    background: $grey;
                    z-index: -1;
                }
            }
            .swiper-pagination-bullets {
                width: 100% !important;
                .swiper-pagination-bullet {
                    width: 1.875rem;
                    height: 1.875rem;
                    border-radius: 0;
                    background: $black;
                    opacity: 1;
                    justify-self: center;
                    transition: width .3s ease;
                    // position: absolute;
                    &.swiper-pagination-bullet-active {
                        width: 3.625rem;
                        height: 3.625rem;
                    }
                    &:first-child {
                        justify-self: start;
                    }
                    &:last-child {
                        justify-self: end;
                    }
                }
            }
        }
    }
    section#clients {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1.8rem;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            .client {
                background: $white;
                &:before {
                    content:'';
                    float:left;
                    padding-top:100%;
                }
            }
        }
    }
    section#about {
        .team {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1.8rem;
            grid-template-rows: auto;
            margin-top: 5rem;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
            }
            .team-member {
                h2 {
                    font-size: 100%;
                    margin-bottom: 0;
                    margin-top: 1.3rem;
                    line-height: 150%;
                }
            }
        }
    }
    section#contact {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            }
            .grid-item {
                justify-self: center;
                &:first-child { justify-self: start; }
                // &:last-child { justify-self: end; }
                @media screen and (max-width: $tablet) {
                    justify-self: start;
                }
                .btn {
                    display: inline-block;
                    padding: .6rem 1.2rem;
                    @media screen and (max-width: $tablet) {
                        display: block;
                        // width: 100%;
                    }
                }
            }
        }
    }
    section#form {
        margin-top: 4.6rem;
        .flexbox {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1.8rem;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }
            form {
                width: 100%;
                input,
                textarea {
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 4rem;
                    background: $grey-light;
                    border: none;
                    font-size: 1rem;
                    &#f_range {
                        margin-bottom: 1.25rem;
                        margin-top: 1.6875rem;
                        -webkit-appearance: none;
                        width: 100%;
                        height: 1px;
                        background: $grey;
                        outline: none;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 1.875rem;
                            height: 1.875rem;
                            background: $black;
                            cursor: pointer;
                        }  
                        &::-moz-range-thumb {
                            width: 1.875rem;
                            height: 1.875rem;
                            background: $black;
                            cursor: pointer;
                        }
                    }
                }
                textarea {
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 4rem;
                }
                input[type="submit"] {
                    width: auto;
                    background: $black;
                }
            }
            #bomb-wrapper {
                justify-self: center;
            }
        }
    }
}

